<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Game List</title>
<th:block th:include="/_static"></th:block>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>
<body>
	<th:block th:include="/_menu"></th:block>
	<div id="wrapper">
		<div class="container">
			<div id="demo_jui">
				<table id="games" class="display">
					<thead>
						<tr>
                            <th>Id</th>
                            <th>Game</th>
                            <th>Genres</th>
                            <th># Gamer</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Index Page content -->

	<th:block th:include="/_footer"></th:block>

</body>
<script>
	$(document).ready(function() {
		$("#games").dataTable({
			"bServerSide" : true,
			"sAjaxSource" : "/api/games/getDataTable",
			"bProcessing" : true,
			"sPaginationType" : "full_numbers",
            "bJQueryUI": true,
            "aoColumns": [{
                "mData": 0,
                "visible": false,
            }, {
                "mData": 1,
                "render": function (mData, type, row, meta) {
                    console.log(row[0]);
                    return '<a href="/games/' + row[0] + '">' + mData + '</a>';
                }
            }, {
                "mData": 2,
            }, {
                "mData": 3
            }]
		});
	});
</script>
</html>