<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account Info</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
	<th:block th:include="/_header"></th:block>
	<th:block th:include="/_menu"></th:block>

	<div class="page-title">Account Info</div>
	<div class="account-container">
		<ul>
			<li>Username: <span th:utext="${account.username}"></span></li>
			<li>Email: <span th:utext="${account.email}"></span></li>
			<li>Games:
				<ul>
					<li th:each="accountGame : ${account.accountGames}"
						th:utext="${accountGame.game.name}"></li>
				</ul>
			</li>
		</ul>
	</div>

	<th:block th:include="/_footer"></th:block>
</body>
</html>