<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Info</title>
    <th:block th:include="/_static"></th:block>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>
<body>
	<th:block th:include="/_menu"></th:block>

    <div class="row">
        <div class="col-4 account-container">
            <ul>
                <div class="page-title"><h1>Account Info</h1></div>
                <li>Username: <span th:utext="${account.username}"></span></li>
                <li>Email: <span th:utext="${account.email}"></span></li>
                <li>Overall score: <span th:utext="${account.overall}"></span></li>
                <li>Games:
                    <table border="1">
                        <thead>
                        <tr>
                            <th>Game</th>
                            <th>Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="gameWithTime : ${games}">
                            <tr>
                                <td th:text="${gameWithTime.game.name}"></td>
                                <td>
                                    <ul>
                                        <th:block th:each="accountGame: ${gameWithTime.gameTimes}">
                                            <li>
                                                <span th:utext="${accountGame.gameTime}"></span>
                                                <th:block sec:authorize="isAuthenticated()">
                                                    <div th:if="${#authentication.principal.username == account.username}">
                                                        <button th:value="${accountGame.id}" onclick="btn_click(this)">
                                                            Delete
                                                        </button>
                                                    </div>
                                                </th:block>
                                            </li>
                                        </th:block>

                                    </ul>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <th:block sec:authorize="isAuthenticated()">
                        <div th:if="${#authentication.principal.username == account.username}">
                            <button id="myBtn">Add games</button>
                        </div>
                    </th:block>
                </li>
            </ul>
        </div>
        <div class="col-4 following-container">
            <h2>Following</h2>
            <table id="following" class="display">
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h2>Comments</h2>
            <table id="comment" class="display">
                <tbody>
                </tbody>
            </table>
            <th:block sec:authorize="isAuthenticated()">
                <div th:if="${#authentication.principal.username != account.username}">
                    <form id="formComment">
                        Content: <textarea type="text" name="text" data-validation="content"></textarea><br/>
                        Score(1-5): <input type="text" name="score" data-validation="score"/><br/>
                        <input type="text" hidden="hidden" name="toUserId" th:value="${account.id}"/>
                        <button type="submit" id="btnAddComment">Comment</button>
                    </form>
                </div>
            </th:block>
        </div>
    </div>

    <th:block th:include="/_footer"></th:block>


    <th:block sec:authorize="isAuthenticated()">
        <div th:if="${#authentication.principal.username == account.username}">
        <!-- The Modal -->
            <div id="addGameModal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Add game</h2>
                    </div>
                    <div class="modal-body">
                        <form autocomplete="off">
                            <div class="autocomplete">
                                Game: <input id="gameName" type="text" name="game" required="required"/>
                            </div>
                            <br/> <label for="startTime">Start time: </label> <input
                                id="startTime" type="time" name="startTime"><br/> <label
                                for="endTime">End time: </label> <input id="endTime" type="time"
                                                                        name="endTime"><br/>
                            <button id="btnAddGame">Submit</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <h3></h3>
                    </div>
                </div>
            </div>
        </div>
    </th:block>


</body>
<script>

    $(document).ready(function() {
        var followingTable = $("#following").DataTable({
            "bServerSide": true,
            "sAjaxSource": "/api/accounts/getFriendDataTable/" + [[${account.id}]],
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "ordering": false,
            "info": false,
            "searching": false,
            "bSort": false,
            "aoColumns": [{
                "mData": 0,
                "visible": false,
            }, {
                "mData": 1,
                "render": function (mData, type, row, meta) {
                    return '<a href="/accounts/' + row[0] + '">' + mData + '</a>';
                }
            }]
        })

        var commentTable = $("#comment").DataTable({
            "bServerSide": true,
            "sAjaxSource": "/api/comments/" + [[${account.id}]],
            "bProcessing": true,
            "sPaginationType": "full_numbers",
            "bJQueryUI": true,
            "ordering": false,
            "info": false,
            "searching": false,
            "bSort": false,
            "aoColumns": [{
                "mData": 0,
            }, {
                "mData": 1,
            }, {
                "mData": 2,
            }, {
                "mData": 3,
            }]
        })

        //Add game function
        $("#btnAddGame").click(function (e) {
            e.preventDefault();
            let startTime = $('#startTime').val().split(':');
            let startTimeMinutes = (+startTime[0]) * 60 + (+startTime[1]);
            let endTime = $('#endTime').val().split(':');
            let endTimeMinutes = (+endTime[0]) * 60 + (+endTime[1]);

            $.ajax({
                type: "POST",
                url: "/api/accountGames/add",
                data: {
                    name: $("#gameName").val(),
                    startTime: startTimeMinutes,
                    endTime: endTimeMinutes
                },
                success: function (result) {
                    location.reload();
                },
                error: function (result) {
                    alert('error');
                }
            });
        });

        $("#btnAddComment").click(function (e) {
            e.preventDefault();
            var form = $("#formComment");
            form.validate({
                rules: {
                    text: {
                        required: true,
                    },
                    score: {
                        required: true,
                    }
                }
            });
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: "/api/comments/add",
                    data: form.serialize(),
                    success: function (result) {
                        commentTable.ajax.reload();
                    },
                    error: function (result) {
                        window.location.href = result.responseText
                    }
                });
            }

        });
	});

    //Delete game time
    function btn_click(btn) {
        var accountGameId = $(btn).attr("value");
        $.ajax({
            type: "POST",
            url: "/api/accountGames/delete/" + accountGameId,
            success: function (result) {
                location.reload();
            },
            error: function (result) {
                alert('error');
            }
        });
    }
</script>

<th:block sec:authorize="isAuthenticated()">
    <script th:if="${#authentication.principal.username == account.username}">
        let games;

        //Show the modal
        $.ajax({
            type: "GET",
            url: "/api/games",
            success: function (result) {
                games = result;
                autocomplete(document.getElementById("gameName"), games);
            },
            error: function (result) {
                // do something.
            }
        });

        // Get the modal
        let modal = document.getElementById('addGameModal');

        // Get the button that opens the modal
        let btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        let span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</th:block>

</html>