<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game List</title>
    <th:block th:include="/_static"></th:block>
    <script type="text/javascript" th:src="@{/js/follow.js}"></script>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<div id="wrapper">
    <div class="container">
        <div id="demo_jui">
            <table id="accounts" class="display">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Games</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Index Page content -->

<th:block th:include="/_footer"></th:block>

</body>
<script>
    $(document).ready(function() {
        var accountTable = $("#accounts").DataTable({
            "bServerSide" : true,
            "sAjaxSource" : "/api/accounts/getDataTable",
            "bProcessing" : true,
            "sPaginationType" : "full_numbers",
            "bJQueryUI" : true,
            "aoColumns": [{
                "mData": 0,
                "visible": false,
            },{
                "mData":1
            }, {
                "mData":2
            }, {
                "mData":3,
                "render": function(mData, type, row, meta){
                    if(mData == 0){
                        return '<button value="1">Follow</button>';
                    } else{
                        return '<button value="0">Unfollow</button>';
                    }
                }
            }]
        });
        $('#accounts tbody').on( 'click', 'button', function () {
            var data = accountTable.row( $(this).parents('tr') ).data();
            if($(this).val() == "1"){
                follow(this,data,1,"Unfollow")
            } else{
                follow(this,data,0,"Follow")
            }
        } );
    });
</script>
</html>